.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(152, 59, 240);
  padding: 0 5px;
  color: white;
}

h1 {
  font-size: 1.5rem;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
}

li {
  display: inline;
  padding-right: 10px;
}

.user {
  text-decoration: none;
  color: white;
  padding-left: 5px;
}

.img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: pink;
  margin-left: 10px;
}
